# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_25_9_2024_11_05_ص_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_25_9_2024_11_05___Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
